<h1>Listing user_histories</h1>

<table>
  <tr>
    <th>User</th>
    <th>Institution</th>
    <th>Department</th>
    <th>Title</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Verification status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_histories.each do |user_history| %>
  <tr>
    <td><%= user_history.user_id %></td>
    <td><%= user_history.institution_id %></td>
    <td><%= user_history.department_id %></td>
    <td><%= user_history.title %></td>
    <td><%= user_history.description %></td>
    <td><%= user_history.start_date %></td>
    <td><%= user_history.end_date %></td>
    <td><%= user_history.verification_status %></td>
    <td><%= link_to 'Show', user_history %></td>
    <td><%= link_to 'Edit', edit_user_history_path(user_history) %></td>
    <td><%= link_to 'Destroy', user_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User history', new_user_history_path %>
